*{
    margin: 0; 
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(ga.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:rgb(255, 255, 255);
    font-size: 35px;
    font-family:Arial;
    padding-left: 20px; 
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float:left;
    height: 70px;
}

ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px; 
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease;
}

ul li a:hover{
    color:fuchsia
}

@import url();

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
ิbody
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff7f7;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .card
{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow:inset 5px 5px 5px rgb(255, 255, 255),
                inset -5px -5px 5px rgba(255, 255, 255,),
                -5px -5px 5px rgba(255, 255, 255,),
                -5px -5px 5px rgba(255, 255, 255,);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #000000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .card:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
    background: linear-gradient(45deg,rgb(225, 0, 255),#4f29cd);
}
.container .card .box .content
{
    padding:20px;
    text-align: center;
}
.container .card .box .content h2
{
    position:absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgb(0, 0, 0,0.5);
}
.container .card .box .content h2
{
    color: rgb(0, 0, 0,0.5);
}
.container .card .box .content h3
{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content p
{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content a
{
  position: relative;
  display: inline-block;  
  padding: 8px 20px;
  background: #00e1ff;
  margin-top: 15px;
  border-radius: 20px;
  color: #000000;
  text-decoration: #000000;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.container .card:hover .box .content a
{
    background: #ff568f;
}